<div class="app">
  <mat-card class="form">
    <form novalidate (ngSubmit)="getTweets(f)" #f="ngForm">
      <mat-form-field>
        <input
            required
            ngModel
            matInput
            type="text"
            name="hashtag"
            placeholder="Hashtag">
      </mat-form-field>
      <button
          type="submit"
          mat-raised-button
          color="accent">
        Get
      </button>
    </form>
  </mat-card>
  <div class="tweetsList">
    <app-tweet-item
        *ngFor="let tweet of tweetList; trackBy:tweet?.id"
        (onDelete)="deleteTweet($event)"
        [tweetData]="tweet"></app-tweet-item>
  </div>
</div>
