mat-card {
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.form {
    flex-grow: 1;
}

.text {
    flex-grow: 3;
    padding-right: .5rem;
    padding-left: .5rem;
}

.remove_block {
    flex-grow: 1;
    text-align: right;
}

.remove {
    text-align: center;
}